/************************* 总容器 **************************/
.container{
    width: 100%;
    height: 100%;
}

/************************* section **************************/
section{
    width: 100%;
}
section .login{
    width: 100%;
    height: 10vw;
    box-sizing: border-box;
    padding: 0 4.4vw;
    font-size: 4.2vw;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
section .login p:last-child{
    font-size: 3.6vw;
    color: #666;
    user-select: none;
}
section .login p:last-child i{
    font-size: 4.6vw;
    margin-left: 2vw;
}

section img{
    width: 100%;
    height: 100vw;
}

section .price{
    width: 100%;
    height: 14vw;
    box-sizing: border-box;
    padding-left: 4.4vw;
    display: flex;
    align-items: center;
    font-size: 6.4vw;
    color: #FF6700;
    font-weight: 700;
}
section .price p span{
    font-size: 3.2vw;
    vertical-align: text-top;
}

section .info{
    width: 100%;
    box-sizing: border-box;
    padding: 0 4.4vw;
}
section .info h3{
    font-size: 4.4vw;
    margin-bottom: 3vw;
}
section .info p{
    font-size: 3.3vw;
}

/************************* footer **************************/
footer{
    width: 100%;
    height: 14.4vw;
    background-color: #FFF;
    box-shadow: 0 3px 14px 2px #CCC;

    display: flex;
    align-items: center;

    position: fixed;
    left: 0;
    bottom: 0;
}
footer ul{
    flex: 2;

    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 3.3vw;
    color: #999;
}
footer ul li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    position: relative;
}
footer ul li .fa{
    font-size: 5vw;
    margin-bottom: 1.2vw;
}
footer ul li .quantity{
    width: 4.4vw;
    height: 4.4vw;
    border-radius: 2.2vw;
    background-color: #FF6700;
    line-height: 4.4vw;
    text-align: center;
    color: #FFF;
    font-size: 3.3vw;

    position: absolute;
    left: 7vw;
    top: -1.2vw;
}
footer .cart{
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .cart .cart-box{
    width: 80%;
    height: 10vw;
    line-height: 10vw;
    text-align: center;
    background-image: linear-gradient(to right, #FF9E22, #FF6700);

    font-size: 4vw;
    color: #FFF;

    border-radius: 5vw;
    user-select: none;
}
